.jumbotron{
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
}

body{
  overflow-x: hidden;
}

html, body, #app, #app>div {
  height: 100%
}

@media (max-width:670px) 
{
   .custom-jumbo-btn{
    display: none;
   }  
}